{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>

    <!-- Tailwind CSS file -->
    <link rel="stylesheet" href="{% static 'src/styles.css' %}" />
  </head>

  <body class="bg-gray-50 w-screen h-screen">
    <div class="grid grid-rows-1 grid-flow-col">

      {% include 'base/nav.html' %}

      {% block content %} 
      {% endblock %}

      {% block menu %} 
      {% endblock %}
    </div>
  </body>
</html>
